.page.theme_dark {
  --main-font: 'IBM PLex Mono';
  --main-font-size: 18px;
  --bg-color: #000028;
  --title-color: #000028;
  --logo-color: #db00ff;
  --logo-font-size: 120px;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --button-text-color: #ff0070;
  --button-border-color: #ff0070;
  --button-border-color-hover: rgba(255, 0, 112, 0.4);
  --link-border-color-hover: #f1b2ce;
  --bg-image: url(../images/cover-image-dark.png);
  --visibility: visible;
  --heading-color: #ff0070;
  --decorated-zone-color: #ff0070;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-font: 'IBM PLex Mono';
    --main-font-size: 18px;
    --bg-color: #000028;
    --title-color: #000028;
    --logo-color: #db00ff;
    --logo-font-size: 120px;
    --text-color: #f1b2ce;
    --accent-color: #ff0070;
    --button-text-color: #ff0070;
    --button-border-color: #ff0070;
    --button-border-color-hover: rgba(255, 0, 112, 0.4);
    --link-border-color-hover: #f1b2ce;
    --bg-image: url(../images/cover-image-dark.png);
    --visibility: visible;
    --heading-color: #ff0070;
    --decorated-zone-color: #ff0070;
  }
}